[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "flask db upgrade && flask init-db && gunicorn 'app:create_app()' --bind 0.0.0.0:$PORT --workers 2 --timeout 120 --access-logfile -"
